<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Configuration Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  </head>
  <body>
    <h1 class="titulo-centrado">Configuration Interface</h1>
    <form action="/submit" method="post" id="configurationForm">

      <!-- macro que renderiza las variables -->
      {% macro render_variable(var, details, types, enums, prefix='') %}        

        <!-- identificamos los casos base, variable de tipo number, string o boolean -->
        {% if details.type == 'number' %}
          <label for="{{ prefix + var}}">{{ prefix + var }}:</label>
          <input type="number" name="{{ prefix + var }}" form="configurationForm">
        {% elif details.type == 'string' %}
          <label for="{{ prefix + var }}">{{ prefix + var }}:</label>
          <input type="text" name="{{ prefix + var }}" form="configurationForm" class="wide-input">
        {% elif details.type == 'boolean' %}
          <label for="{{ prefix + var }}">{{ prefix + var }}:</label>
          <input type="checkbox" name="{{ prefix + var }}" form="configurationForm">

        <!-- si es una variable de tipo array, llamaremos recursivamente a la función -->
        {% elif details.type == 'array' %}
          <h3 class="array-title">{{ var}}</h3>
          <div class="array-section">

            <!-- bucle que recorre los elementos del array-->
            {% for i in range(details.len) %}

                <!-- identificamos el tipo de variable del array-->
                {% if details['array-type'] in ['string', 'boolean'] %}
                  <div class="array-item">
                    {{ render_variable(var + '[' + i|string + ']', {'type': details['array-type']}, types, enums, prefix) }}
                  </div>                  

                <!-- si el tipo de variable es un número, creamos un input de tipo number -->
                {% elif details['array-type'] == 'integer' or details['array-type'] == 'number'%}
                  <div class="array-item">
                    {{ render_variable(var + '[' + i|string + ']', {"type": "number", "subtype": "integer"}, types, enums, prefix) }} 
                  </div>

                {% elif details['array-type'] == 'float' %}
                  <div class="array-item">
                    {{ render_variable(var + '[' + i|string + ']', {"type": "number", "subtype": "float"}, types, enums, prefix) }}
                  </div>

                <!-- si llegamos hasta aquí, el tipo de array es un array de una estructura personalizada-->
                {% else %}
                  <div class="array-edat-item">
                    <h3 class="array-edat-title">{{ var }}[{{ i }}]</h3>
                    {{ render_custom_variable(var + '[' + i|string + ']', {'type': details['array-type']}, types, enums, prefix) }}
                  </div>

                {% endif %}
            {% endfor %}

          </div>

        {% else %}
          <!-- si llegamos hasta aquí, la variable es una estructura de datos personalizada -->
          {% if details.type in types %}
            <h3 class="array-edat-title">{{ var }}</h3>
            {{ render_custom_variable(var, details, types, enums, prefix) }}

          {% else %}
            <!-- si no es un tipo conocido, mostramos un mensaje de error -->
            <p class="error">Unknown type: {{ details.type }}</p>

          {% endif %}
        {% endif %}
      {% endmacro %}

      <!-- cargarse la macro esta y meterla directamente en la macro principal -->
      {% macro render_custom_variable(var, details, types, enums, prefix='') %}        

        <!-- buscamos el tipo de variable entre las estructuras de datos personalizadas -->
        {% for type, typedetails in types.items() %}
            {% if details.type == type %}
              
              <!-- creamos un bucle que recorra las variables de la estructura de datos personalizada -->
              {% for subvar, subdetails in typedetails.items() %}
                <div class="array-item">           
                  {{ render_variable(subvar, subdetails, types, enums, prefix + var + '.') }}       

                  <!-- identificamos el tipo de variable entre number, string y boolean -->
                  {% if subdetails == 'string' %}
                    {{ render_variable(subvar, {'type': 'string'}, types, enums, prefix + var + '.') }} 
                    
                  {% elif subdetails == 'boolean' %}
                    {{ render_variable(subvar, {'type': 'boolean'}, types, enums, prefix + var + '.') }} 

                  <!-- si el tipo de variable es un número, creamos un input de tipo number -->
                  {% elif subdetails == 'integer' or subdetails == 'number' %}
                    {{ render_variable(subvar, {"type": "number", "subtype": "integer"}, types, enums, prefix + var + '.') }} 
                    
                  {% elif subdetails == 'float' %}
                    {{ render_variable(subvar, {"type": "number", "subtype": "float"}, types, enums, prefix + var + '.') }}
                
                  <!-- si llegamos hasta aquí identificamos que es una estructura propia -->
                  {% else %}
                    {{ render_custom_variable(subvar, {'type': subdetails}, types, enums, prefix + '.') }}                  

                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
        {% endfor %}
        
        
      {% endmacro %}

      <!-- bucle que recorre las variables de las que necesitamos el formulario de configuración -->
      {% for var, details in variables.items() %}
        <div class="variable-section">
          {{ render_variable(var, details, types, enums) }}
        </div>        
      {% endfor %}
      <div class="submit-container">
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </body>
</html>