.variable-section {
    border: 2px solid #000; /* Borde negro */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espaciado entre secciones */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 500px; /* Ancho máximo */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
}

.wide-input {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    max-width: 400px; /* Ancho máximo opcional */
}

.titulo-centrado {
    text-align: center;
}

.array-item {
    border: 1px solid #ccc; /* Borde gris claro */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espaciado entre elementos */
    border-radius: 5px; /* Bordes redondeados */
}

.array-title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: auto;
}

.wide-input2 {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    max-width: 350px; /* Ancho máximo opcional */
}
.array-edat-title {
    margin-bottom: 10px;
    margin-top: auto;
}

.array-edat-item {
    border: 1.5px solid #000; /* Borde gris claro */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espaciado entre elementos */
    border-radius: 5px; /* Bordes redondeados */
}

.submit-container {
    text-align: center; /* Centrar el botón horizontalmente */
  }
  
  .submit-button {
    background-color: #ebebeb; /* Color de fondo blanco */
    color: #000000; /* Color del texto negro */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border: 2px solid #000; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el color de fondo y el color del texto */
  }
  
  .submit-button:hover {
    background-color: #acacac; /* Color de fondo al pasar el cursor (un poco más oscuro) */
    color: #000000; /* Color del texto negro */
  }